@model NewsSite.Models.EditModel
@{
    ViewBag.Title = "Delete";
}

<h2>Видалення профіля</h2>

<form method="post">
    <h2>Ви впевнені, що хочете видалити свій аккаунт?</h2>
    <button type="submit">Так</button>
</form>